<form method="get" name="filters" id="filters">
  <label for="table-search" class="sr-only">Search</label>
  <div class="flex">
    <div class="relative">
      <input
        name="first_name"
        type="text"
        id="first-name"
        {%{"value" => @current_params["first_name"]}}
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search by first name"
      />
    </div>

    <div class="relative">
      <input
        name="last_name"
        type="text"
        id="last-name"
        {%{"value" => @current_params["last_name"]}}
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search by last name"
      />
    </div>
    <select
      type="select"
      id="sex"
      name="sex"
      class="sm-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option {%{"selected" => if Enum.member?(["male", "female"], @current_params["sex"]) do true else false end}}>
        Choose sex
      </option>
      <option
        {%{"selected" => if @current_params["sex"] == "male" do true else false end}}
        value="male"
      >
        Male
      </option>
      <option
        {%{"selected" => if @current_params["sex"] == "female" do true else false  end}}
        value="female"
      >
        Female
      </option>
    </select>

    <select
      type="select"
      id="sort-by"
      name="sort_by"
      class="sm-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option
        {%{"selected" => if @current_params["sort_by"] == "first_name" do true else false end}}
        value="first_name"
      >
        Sort by first name
      </option>
      <option
        {%{"selected" => if @current_params["sort_by"] == "last_name" do true else false  end}}
        value="last_name"
      >
        Sort by last name
      </option>
      <option
        {%{"selected" => if @current_params["sort_by"] == "sex" do true else false  end}}
        value="sex"
      >
        Sort by sex
      </option>
      <option
        {%{"selected" => if @current_params["sort_by"] == "date_of_birth" do true else false  end}}
        value="sex"
      >
        Sort by date of birth
      </option>
    </select>

    <input
      type="date"
      id="date-of-birth-start"
      name="date_of_birth_start"
      min="1970-01-01"
      max="2023-12-31"
      {%{"value" => @current_params["date_of_birth_start"]}}
    />
    <input
      type="date"
      id="date-of-birth-start"
      name="date_of_birth_end"
      min="1970-01-01"
      max="2023-12-31"
      {%{"value" => @current_params["date_of_birth_end"]}}
    />
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      type="submit"
    >
      Filter
    </button>
    <.link
      href={~p"/people/new"}
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      method="get"
    >
      Create new person
    </.link>
  </div>
</form>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            First name
            <a href="#">
              <svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
              </svg>
            </a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Last name
            <a href="#">
              <svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
              </svg>
            </a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Sex
            <a href="#">
              <svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
              </svg>
            </a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Date of birth
            <a href="#">
              <svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
              </svg>
            </a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= for person <- @people do %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            <%= person.first_name %>
          </th>
          <td class="px-6 py-4">
            <%= person.last_name %>
          </td>
          <td class="px-6 py-4">
            <%= if person.sex do
              "Male"
            else
              "Female"
            end %>
          </td>
          <td class="px-6 py-4">
            <%= person.date_of_birth %>
          </td>
          <td class="px-6 py-4 text-right">
            <.link
              href={~p"/people/#{person.id}/edit"}
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              method="get"
            >
              Edit
            </.link>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
